*
!.gitattributes
!.gitignore
!JXP.module
!JXP_LICENSE.txt
!JXP_README.md
!JXP2.module
!JXP2_LICENSE.txt
!JXP2_README.md

!*/

!JXP/Locale/English/*.ucs
!JXP2/Locale/English/*.ucs
!ModTools/DataGeneric/JXP/_default.burn
!ModTools/DataGeneric/JXP/Sound/*.fda
!ModTools/DataGeneric/JXP/Sound/*.rat
!ModTools/DataGeneric/JXP/Sound/Music/*.aup3
!ModTools/DataGeneric/JXP/Sound/Music/*.fda
!ModTools/DataGeneric/JXP/Sound/Music/*.rat
!ModTools/DataGeneric/JXP/Sound/Music/*.wav
!ModTools/DataGeneric/JXP2/_default.burn
!ModTools/DataGeneric/JXP2/Sound/*.fda
!ModTools/DataGeneric/JXP2/Sound/*.rat
!ModTools/DataGeneric/JXP2/Sound/LoadingMusic/*.aup3
!ModTools/DataGeneric/JXP2/Sound/LoadingMusic/*.fda
!ModTools/DataGeneric/JXP2/Sound/LoadingMusic/*.rat
!ModTools/DataGeneric/JXP2/Sound/LoadingMusic/*.wav
!ModTools/DataGeneric/JXP2/Sound/Music/*.aup3
!ModTools/DataGeneric/JXP2/Sound/Music/*.fda
!ModTools/DataGeneric/JXP2/Sound/Music/*.rat
!ModTools/DataGeneric/JXP2/Sound/Music/*.wav
